@import "./lib/_variables";
@import "./lib/_mixin";
@import "./lib/_base";
@import "./lib/_bootstarpUi";
@import "./_edit";

// select
select {
  &::-ms-expand {
    display: none;
  }

  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 2px;
  height: 32px;
  line-height: normal;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  -ms-appearance:none;
  background: url(../images/arrow.png) no-repeat scroll right center transparent !important;
  background-image: url(../images/arrow.png) !important;
  padding-right: 14px;
}

//自带分页隐藏
.fixed-table-pagination {
  display: none !important;
}

// 头部导航样式
.index-navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  box-shadow: 0px 5px 5px #a6a3a3;

  .container-fluid {
    padding-left: 126px;
    padding-right: 126px;
    line-height: 60px;

    .logo {
      font-size: 25px;
      color: red;
    }
  }

  .index-nav {
    height: 40px;
    padding-left: 126px;
    background-color: #D30500;

    ul {
      height: 100%;
      overflow: hidden;
    }

    .nav-item {
      float: left;
      transition: all .3s;

      &.active {
        background-color: #F41C00;
      }

      a {
        display: block;
        padding: 0 14px;
        color: #fff;
        font-size: 16px;
        font-family: Microsoft YaHei;
        opacity: 1;
        transition: all .3s;
        line-height: 40px;
        font-weight: 600;
      }
    }
  }
}

// 左边导航
.hideLeftMenu {
  position: fixed;
  width: 40px;
  left: -40px;
  top: 110px;
  bottom: 0;
  z-index: 99px;
  transition: all .3s;

  .openMenu {
    margin-top: 64px;
  }

  &.active {
    left: 0;
  }
}

.nav-side {
  position: fixed;
  width: 178px;
  left: 0;
  top: 110px;
  bottom: 0;
  z-index: 99px;
  overflow-y: auto;
  padding-right: 2PX;
  transition: all .3s;

  &.hide-side {
    left: -178px;
  }

  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 2px;
  }

  &::scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 5px rgba(155, 149, 149, 0.1);
    background: rgba(155, 149, 149, 0.1);
  }

  .topMenu {
    height: 32px;
    text-align: right;

    img {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }

  .nav-side-ul {
    .side-item {
      position: relative;
      height: 45px;
      line-height: 45px;
      background-color: #f0f0f0;
      border-top: 1px solid #bbb8b8;
      text-align: center;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        background-color: rgba(244, 28, 0, 1);
        width: 4px;
        height: 0;
        transform: translateY(-50%);
        transition: all .1s;
      }

      &:hover {
        background-color: rgba(251, 243, 243, 1);

        &::before {
          height: 100%;
        }
      }

      &.active {
        background-color: #D30500;

        a {
          color: #FFF;
        }
      }

      a {
        display: block;
        padding: 0 14px;
        color: #2c2c2c;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-family: Microsoft YaHei;
        font-weight: 600;
      }
    }
  }
}

// 布局样式
.iframe-content {
  padding-top: 100px;
  padding-bottom: 20px;
  margin-left: 185px;
  transition: all .3s;

  &.hide-side {
    margin-left: 40px;
  }

  &.no-left {
    margin-left: 0;
  }

  height:100%;
}

//  登录页面样式
.logo-page {
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #93b7c9;
  }

  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #93b7c9;
  }

  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #93b7c9;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #93b7c9;
  }

  .con {
    width: 1000px;
    margin: 0 auto;
  }

  .top {
    width: 100%;
    height: 107px;
  }

  .top .logo {
    margin-top: 27px;
  }

  .top .set {
    line-height: 106px;
    color: #000;
  }

  .login-out {
    width: 100%;
    height: 470px;
    background: url(../images/login/new-loginbg.png) no-repeat center;
    background-size: 1920px;
  }

  .login-out_old {
    width: 100%;
    height: 470px;
    background: url(../images/login/loginbg.jpg) no-repeat center;
    background-size: 1920px;
  }

  .login {
    width: 327px;
    height: 356px;
    background: url(../images/login/loginbg.png) no-repeat center;
    margin-top: 57px;
  }

  .login form {
    width: 287px;
    margin: 0 auto;
    color: #666;
  }

  .login form p {
    line-height: 24px;
    border-bottom: 1px solid #b4b4b4;
    margin-top: 15px;
    font-size: 16px;
    color: #db252b;
  }

  .login form #dd,
  .login form #mm .login form #tenement {
    display: block;
    width: 100%;
    background: #eef3f8;
    border: 1px solid #b4b4b4;
    height: 39px;
    line-height: 37px;
    margin-top: 12px;
    text-indent: 8px;
  }

  .login form label {
    margin-top: 12px;
    display: block;
  }

  .login form label .checkbox {
    width: 15px;
    height: 15px;
    display: inline-block;
    *display: inline-block;
    *zoom: 1;
    margin-left: 10px;
    margin-right: 5px;
    float: left
  }

  .login form .btn {
    width: 109px;
    height: 40px;
    color: #fff;
    border: none;
    margin-top: 12px;
  }

  .btn:hover {
    cursor: pointer;
  }

  .login form .button {
    background-color: #e10202;
    margin-right: 50px;
    border-radius: 6px;
  }

  .login form .reset {
    background-color: #e10202;
    border-radius: 6px;
  }

  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    background: #eef3f8;
    border: 1px solid #b4b4b4;
    height: 39px;
    line-height: 37px;
    margin-top: 12px;
    text-indent: 8px;
  }

  .footer {
    text-align: center;
    margin-top: 20px;
  }

  .footer img {
    vertical-align: middle;
  }
}

/**
 *
 * 首页
 *
 */
.pct26 {
  width: 26%;
}

.pct74 {
  width: 74%;
}

.border_all {
  border: 1px solid #CCC;
}

.border_bottom {
  border-bottom: 1px solid #CCC;
}

.space_margin {
  margin: 0px 5px 10px 5px;
}

.index-contant {
  width: 84%;
  margin: 10px auto;

  .item_banner {
    height: 34px;

    .text-title {
      color: #FFF;
      font-size: 16px;
      font-weight: bold;
      line-height: 34px;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      span {
        margin-left: 54px;
      }
    }
  }

  .item_banner_more {
    width: 43px;
    height: 34px;
    float: right;
    display: inline;
    height: 12px;
    margin-top: 11px;
    margin-right: 10px;
    background-image: url("../images/index/more.png");
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .list_li {
    position: relative;
    display: block;
    height: 32px;
    line-height: 32px;
    padding-left: 30px;
    padding-right: 80px;
    color: #333;

    &::before {
      position: absolute;
      top: 50%;
      left: 13px;
      content: '';
      width: 6px;
      height: 6px;
      margin-top: -3px;
      background-color: #F41C00;
    }

    &.roud {
      &::before {
        border-radius: 999px;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: attr(atext);
      width: 80px;
      text-align: center;
      color: #ccc;
      font-size: 12px;
    }

    &.visited {
      color: #CCC;

      &::before {
        background-color: #ccc;
      }
    }

    &:hover {
      background-color: rgba(238, 238, 238, 1);
    }
  }

  .slideBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .slideBox .hd {
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 1;
  }

  .slideBox .hd ul {
    overflow: hidden;
    zoom: 1;
    float: left;
  }

  .slideBox .hd ul li {
    float: left;
    margin-right: 2px;
    width: 15px;
    height: 15px;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    border-radius: 999px;
    text-align: center;
    background: grey;
    cursor: pointer;
  }

  .slideBox .hd ul li.on {
    background: #f00;
    color: #fff;
  }

  .slideBox .bd {
    position: relative;
    height: 100%;
    z-index: 0;
  }

  .slideBox .bd li {
    zoom: 1;
    vertical-align: middle;
  }

  .slideBox .bd img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .slideBox .bd ul li p {
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    padding: 3px;
  }

  .single_charts {
    float: left;
    width: 25%;

    .chart_height {
      height: 140px;
    }

    .chart_title {
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
    }

    .chart_position_odd {
      background-color: #E5E5E5;
      color: #CA0606;
    }

    .chart_position_even {
      background-color: #CA0606;
      color: #FFF;
    }
  }
}

/*=============================================
=            搜索框，表格样式            =
=============================================*/
.min-hp100 {
  min-height: 100%;
}

.query-content {
  padding: 15px 4px 4px;
}

.serach-content {
  border: 1px solid #D3D3D3;

  .form-inline {
    padding: 25px 15px 10px 25px;
  }

  label {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    text-align: right;
    margin-right: 15px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-control {
    width: 140px !important;
    box-shadow: none;
  }

  .Wdate {
    border-color: #ccc;
    height: 37px;
  }
}

.table-list {
  margin-top: 10px;
  width: 100%;
  table-layout: fixed;

  tbody>tr>td {
    padding: 4px 12px;
    line-height: 27px;
  }

  tr:hover {
    background-color: #f7f7f7 !important;
  }

  thead>tr>td {
    padding: 6px 12px 7px 12px;
  }

  &.table-striped>thead>tr {
    background-color: #f3f3f3;
  }

  &.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  &.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
  }
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
  padding: 6px 12px 7px 12px;
}

.bootstrap-table .fixed-table-container .table tbody tr.selected td {
  background-color: transparent;
}

/*=====  End of 搜索框，表格样式  ======*/


/*=============================================
=            表单表格            =
=============================================*/
.c_form_table {
  /* border: 1px solid #D6D7CE; */
  border-collapse: collapse;

  .borderTd {
    height: 18px !important;
  }

  .c_trEven {
    background-color: #fff;
  }

  .titleTr {
    background-color: #FFF6F6;
  }
}

@media print {
  .no-print {
    display: none;
  }
}

.c_form_table td {
  height: 36px;
  line-height: 0;
  padding-bottom: 0; //new zx
}

.from-detail {
  .c_form_table td {
    padding-bottom: 0;
  }
}

.all-detiel {
  td {
    min-width: 122px;
  }

}

.c_form_text {
  text-align: right;
  padding-right: 5px;
  /* background-color: #f8f8f8; */
  color: #333333;
  font-family: "Microsoft YaHei";
}

.c_form_table td input {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 2px;
  text-indent: 10px; //new zx
}

.c_form_table td input[type="radio"] {
  height: auto;
}

.c_form_table td input:hover {
  border-color: #C9C9C9 !important;
}

.c_form_table td input[type="button"] {
  margin: 0px 0 0 2px;
  padding: 2px 8px 2px 8px;
  font-size: 12px;
  height: 26px;
  background-color: #d70000;
  border: none;
  border-radius: 2px;
  color: #fff;
  line-height: 20px;
}

.c_form_table td input:hover[type="button"] {
  opacity: .8;
  color: #fff;
}

.c_form_table .Wdate {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 2px;
}

.c_form_table .Wdate:hover {
  border-color: #C9C9C9 !important;
}

.c_form_table textarea {
  min-height: 100px;
  height: auto;
  padding: 6px 10px;
  resize: vertical;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 2px;
  line-height: normal;
}

.c_form_table textarea:focus {
  border-color: #C9C9C9 !important
}

.c_form_table textarea:hover {
  border-color: #D2D2D2 !important;
}

table.c_table_list_gzrz {
  border-top: 1px solid #fff;
  color: #3b3b3b;
  table-layout: fixed;
  width: 100%;
}

table.c_table_list_gzrz thead tr {
  height: 22px;
}

table.c_table_list_gzrz tbody tr {
  height: 24px;
}

table.c_table_list_gzrz thead td {
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #c1c8d2;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0 12px;
  *padding-top: 2px;
}

table.c_table_list_gzrz tbody td {
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 0;
  padding: 0 0 0 12px;
  *padding-top: 2px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.c_table_list_gzrz input {
  outline: none;
}

.c_table_list_gzrz td.c_table_list_checkbox {
  padding: 1px 0 1px 5px;
  width: 27px;
}

table.c_table_list {
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  color: #3b3b3b;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 1px;
}

table.c_table_list thead tr {
  height: 35px;
  transition: all .3s;
  -webkit-transition: all .3s;
  background-color: #f2f2f2
}

table.c_table_list tbody tr {
  height: 35px;
}

table.c_table_list thead td {
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0 12px;
  *padding-top: 2px;
}

table.c_table_list tbody td {
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 0;
  padding: 0 0 0 12px;
  padding-top: 2px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.c_table_list input {
  outline: none;
}

.c_table_list td.c_table_list_checkbox {
  padding: 1px 0 1px 5px;
  width: 27px;
}

.c_trOdd {
  background-color: #FFFFFF;
}

.c_trEven {
  background-color: #F3F3F3;
}

.c_trHover {
  background-color: #F7F3F7;
}

.titleImg img {
  width: 25px;
  vertical-align: middle;
  margin-bottom: 5px;
}

/*=====  End of Section comment block  ======*/

/*=============================================
=            分页样式            =
=============================================*/
.layui-laypage {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  font-size: 0;
  margin-right: 10px;
}

.layui-laypage>a:first-child,
.layui-laypage>a:first-child em {
  border-radius: 2px 0 0 2px
}

.layui-laypage>a:last-child,
.layui-laypage>a:last-child em {
  border-radius: 0 2px 2px 0
}

.layui-laypage>:first-child {
  margin-left: 0 !important
}

.layui-laypage>:last-child {
  margin-right: 0 !important
}

.layui-laypage a,
.layui-laypage button,
.layui-laypage input,
.layui-laypage select,
.layui-laypage span {
  border: 1px solid #e2e2e2
}

.layui-laypage a,
.layui-laypage span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding: 0 15px;
  height: 28px;
  line-height: 28px;
  margin: 0 -1px 5px 0;
  background-color: #fff;
  color: #333;
  font-size: 12px;
  float: none;
}

.layui-laypage a:hover {
  color: #F41C00
}

.layui-laypage em {
  font-style: normal
}

.layui-laypage .layui-laypage-spr {
  color: #999;
  font-weight: 700
}

.layui-laypage a {
  text-decoration: none
}

.layui-laypage .layui-laypage-curr {
  position: relative
}

.layui-laypage .layui-laypage-curr em {
  position: relative;
  color: #fff
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
  position: absolute;
  left: -1px;
  top: -1px;
  padding: 1px;
  width: 100%;
  height: 100%;
  background-color: #F41C00
}

.layui-laypage-em {
  border-radius: 2px
}

.layui-laypage-next:hover,
.layui-laypage-prev:hover {
  background-color: #F41C00
}

.layui-laypage-next em,
.layui-laypage-prev em {
  font-family: Sim sun;
  font-size: 16px
}

.layui-laypage-next em,
.layui-laypage-prev em {
  font-family: Sim sun;
  font-size: 16px
}

.layui-laypage .layui-laypage-count,
.layui-laypage .layui-laypage-limits,
.layui-laypage .layui-laypage-skip {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  border: none
}

.layui-laypage .layui-laypage-limits {
  vertical-align: top
}

.layui-laypage select {
  height: 22px;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer
}

.layui-laypage .layui-laypage-skip {
  height: 30px;
  line-height: 30px;
  color: #999
}

.layui-laypage button,
.layui-laypage input {
  height: 30px;
  line-height: 30px;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  vertical-align: top;
  background-color: #fff;
  box-sizing: border-box
}

.layui-laypage input {
  display: inline-block;
  width: 40px;
  margin: 0 10px;
  padding: 0 3px;
  text-align: center
}

.layui-laypage input:focus,
.layui-laypage select:focus {
  border-color: #F41C00 !important
}

.layui-laypage button {
  margin-left: 10px;
  padding: 0 10px;
  cursor: pointer
}

/*=====  End of 分页样式  ======*/


/*=============================================
=            面板样式            =
=============================================*/
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  overflow: hidden;
  font-size: 12px;

  .left {
    float: left;
    width: 50%;
    height: 300px;
  }

  .right {
    margin-left: 10px;
    height: 300px;
  }

  h3 {
    font-weight: 500;
  }

  .table {
    font-size: 16px;
  }
}

.panel-default {
  border-color: #ddd;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-body {
  overflow: auto;
  border: 1px solid #D3D3D3;
  border-top-width: 0px;
  padding: 15px;
}

/*=====  End of 面板样式  ======*/


/*=============================================
=            修改layui样式            =
=============================================*/
.layui-layer-shade {
  opacity: 0.40 !important;
  background: #ccc !important;
}

.layui-layer {
  box-shadow: none !important;
  background: #eee url(../images/panel_title.gif) repeat-x !important;
  padding: 5px !important;
  padding-top: 27px !important;
  border: 1px solid #D3D3D3;
  box-sizing: content-box;
  border-radius: 5px !important;

  .layui-layer-title {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    line-height: 15px;
    color: #3F3F3F;
    font-weight: bold;
    font-size: 14px;
    height: auto;
    background: url(../images/panel_title.gif) repeat-x;
    background: transparent;
    padding: 2px 0px 4px 0px;
    border-bottom: 1px solid #D3D3D3;
  }

  .layui-layer-setwin {
    top: 5px;
    right: 5px;

    a {
      cursor: pointer;
      opacity: 0.6;
      background: url(../images/panel_tools.gif) no-repeat -16px 0px;
    }
  }
}

.layui-layer-content {
  background: #fff;
  border: 1px solid #D3D3D3;
  border-top-width: 0px;
  height: 100% !important;

  iframe {
    height: 100% !important;
  }
}

/*=====  End of 修改layui样式  ======*/


/*=============================================
=            详情页面样式            =
=============================================*/
.from-detail {
  .btn-tool-bar {
    padding: 6px 4px 25px 4px;

    .btn-sm {
      font-size: 12px;
      padding: 2px 8px;
    }
  }
}

fieldset {
  margin-bottom: 5px;
  border: 1px solid #e5e5e5;
  padding: 10px 10px 10px;
  font-size: 14px;
  word-break: break-all;
  margin: 10px;

  legend {
    width: auto;
    margin: 0 0 0 -5px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 0;
    padding: 0 5px;
  }
}

.x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 5px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.x_title h2 {
  font-size: 17px;
  font-weight: bold;
  color: #666;
  display: block;
}

.c666 {
  color: #666;
}

/*=====  End of 详情页面样式  ======*/


/*=============================================
=            组件树样式            =
=============================================*/
.tree-content {
  width: 700px;
  margin: 0 auto;
  font-size: 14px;
  counter-reset: icecream;

  .my-tab {
    li {
      display: inline-block;
      line-height: 25px;
      padding: 0 10px;
      color: #666;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        color: #000;
      }

      &.active {
        color: #D30500;
        font-weight: bold;
      }
    }
  }

  .item-ct {
    height: 270px;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    border-style: inset;
    border-width: thin;
    background-color: white;

    &.bd-lf {
      border-left: 0;
    }
  }

  .checklist {
    li {
      font-size: 14px;
      line-height: 20px;
      counter-increment: icecream;
    }
  }

  .btn-sm {
    font-size: 12px;
  }

  .tips-ct {
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;

    .total::after {
      content: counter(icecream);
      font-weight: bold;
    }
  }

  .c_search_inputbox {
    width: 165px;
    height: 26px;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid #999;
    text-indent: 10px;
  }

  .c_search_btn {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url(../images/oa_search_btn.gif)no-repeat center;
    cursor: pointer;
  }
}


/*=====  End of 组件树样式  ======*/


/*=============================================
=            图片上传样式            =
=============================================*/

.sys_img_show {
  float: left;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
}

.sys_img_show_item {
  margin: 2px;
  padding: 0px;
}

.sys_img_show_image {
  width: 100%;
  vertical-align: middle;
  border: 1px solid #cacdd1;
  .imgsrc{
    width: 100%;
    height: 100%;
  }
}

.sys_img_show_icon {
  width: 100%;
  margin: 0 auto;
}

.sys_img_show_text {
  width: 99%;
  height: 16px;
  font-size: 14px;
  font-family: Helvetica;
  text-align: center;
}

.sys_img_divinput {
  height: 30px;
  padding: 2px;
  background: url('../images/file.png') no-repeat;
  margin: 2px;
  background-position: center;
  text-align: center;
}

.sys_img_span {
  width: 65px;
  height: 30px;
  outline: none;
  margin: 0px;
}

.sys_img_file {
  width: 114px;
  height: 30px;
  margin-left: -50px;
  outline: none;
  border: 0 none;
  cursor: pointer;
  filter: alpha(opacity=0);
  -moz-opacity: .0;
  opacity: 0.0;
  cursor: pointer;
}

.sysimg_loading {
  position: fixed;
  _position: absolute;
  display: none;
  top: 25%;
  left: 35%;
  width: 124px;
  height: 124px;
  overflow: hidden;
  background: url(../images/folder1.gif) no-repeat;
  z-index: 30007;
  margin: 0px;
}

.sysimg_popDiv {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  z-index: 30000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.sys_img_mobile_div {
  width: 96%;
  height: 230px;
  line-height: 230px;
  background-color: #ffffff;
}

.sys_img_mobile_img {
  max-height: 230px;
  max-width: 100%;
  border: 0px;
}
.content-box{
  box-sizing: content-box;
}
.min-w-td td {
  min-width: 120px;
}
@media print {
	.printDiv {
		display: block;
	}
}
/*=====  End of 图片上传样式  ======*/

/*=============================================
=            文章样式            =
=============================================*/
.article-header{
  border-bottom: 5px solid #D30500;
  .ac-title{
    font-size: 25px;
    color: red;
    text-align: left;
    line-height: 70px;
  }
}
.article-content{
  width: auto;
  margin: 0 100px;
  .left-list-ct{
    margin-right: 350px;
    width: auto;
  }
  .list_li{
    height: 35px;
    line-height: 35px;
  }
}
.article-ct{
  width: 900px;
  margin: 0 auto;
  .details_title{
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-top: 10px;
  }
  .details_info{
    font-size: 14px;
    color: #C0BFBF;
    text-align: center;
    margin: 5px 0px;
  }
  .article-details{
    word-break: break-all;
    line-height: 1.8;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-family: "宋体";
    min-height: 400px;
    height: auto;
    border-top: 1px solid #C0BFBF;
    border-bottom: 1px solid #C0BFBF;
    img{
      max-width: 100%;
    }
  }
  .details_att_info{
    margin: 10px 0px;
  }
}
.div_list_location {
  height: 34px;
  line-height: 34px;
  font-size: 15px;
  border-bottom: 1px solid #CCC;
}
/*=====  End of 文章样式  ======*/

